@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #0E387A;
$secondary: orange;
$light: rgb(244, 246, 250);
$info: rgb(222, 226, 230);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 991px,
    xl: 1200px,
    xxl: 1400px
);

$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-toggler-border-color: rgba($primary, 0);

$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

$offcanvas-border-color: transparent;
$offcanvas-border-width: 0;
$offcanvas-box-shadow: none;
$offcanvas-bg-color: white;
$offcanvas-backdrop-bg: white;
$offcanvas-backdrop-opacity: 0.5;

$card-border-width: 0;

$box-shadow: 0 2px 5px rgba(152, 147, 147, 0.7);

$nav-tabs-border-width: 0;

$accordion-border-width: 0;

$accordion-icon-color: black;
$accordion-icon-active-color: $primary;

$accordion-button-active-bg: white;

$accordion-icon-width: 1.5rem;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");

$input-border-width: 3px;
$input-border-radius-lg: 10px;
$input-border-color: rgba(115, 126, 145, 0.7);
$input-focus-border-color: rgba(115, 126, 145, 0.7);
$input-focus-color: black;
$input-focus-width: 3px;
$input-focus-box-shadow: none;

$form-select-focus-box-shadow: none;

$form-check-input-bg: transparent;

$input-group-addon-bg: white;

$modal-content-bg: rgba(255, 255, 255, 0.8);

button.navbar-toggler:focus,
button.navbar-toggler:active,
button.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none;
}

.btn:focus,
a:focus {
    outline: none;
    border: none;
}

html {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.btn {
    box-shadow: none !important;
}

nav {
    .my-nav-link {
        font-family: 'Poppins' !important;
        font-style: italic !important;
        font-weight: 500 !important;
        font-size: 10.32px !important;
        line-height: 14px !important;
    }
}

.header {
    height: fit-content !important;
    background: rgba(14, 56, 122, 0.2);
}

.veepay-intro-main-div {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;


    .veepay-intro-div {
        height: 100% !important;
        width: 100% !important;
        margin-left: -63px !important;

        .veepay-logo-div {
            width: 100% !important;
            margin-bottom: 32.53px !important;

            img {
                width: 100% !important;
                object-fit: cover !important;
            }
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500 !important;
            font-size: 16px !important;
            line-height: 24px !important;
            color: #000000;
        }

        a {
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 500 !important;
            font-size: 15px !important;
            line-height: 24px !important;
            text-decoration-line: underline;
            color: #FFFFFF;
        }
    }

}

.header-img-div {
    height: 100%;
    width: 100%;
}

.header-img {
    width: 80%;
    object-fit: cover;
}

.last-btn {
    border: 3px solid $primary  !important;
}

.product-head {
    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px !important;
        line-height: 49px;
        color: #000000;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px !important;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }
}

.first-home-card {
    background: rgba(159, 175, 202, 0.2) !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
    height: 308px !important;

    .i-div {
        padding-top: 43px !important;
        margin-bottom: 20px !important;

        i {
            padding: 18px 21px !important;
            display: inline-block;
        }
    }

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 22px !important;
    }

    .buy-button {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12.4462px;
        line-height: 17px;
        padding: 5.64px 41.49px !important;
    }
}

.feed {
    font-size: calc(1rem + 1.5vw)
}

.pricing-container {
    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
    }
}

.pricing-card-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pricing-card-container::-webkit-scrollbar {
    display: none;
}

.pricing-cards {
    min-width: 470px;
}

.heading-line::before {
    content: "";
    width: 106px;
    height: 0px !important;
    margin: 0 auto;
    display: block;
    background-color: #D9D9D9;
    border: 1px solid rgba(84, 83, 83, 0.6);
}

.heading-line::after {
    content: "";
    border-radius: 50%;
    margin: -0.25rem auto 3rem auto;
    display: block;
    background: #0E387A;
    width: 6px;
    height: 6px;
}

.btn.two {
    display: inline-block !important;
}

.testimonial {

    .d-flex {
        height: fit-content;
        background: rgba(159, 175, 202, 0.1);
    }

    .testimonial-img-div {
        height: 100%;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    .testimonial-text {
        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 49px;
            color: #000000;
        }

        li {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
        }

        li a {
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 500;
            font-size: 15px;
            line-height: 16px;
            text-decoration-line: underline;
            color: #0E387A;
        }
    }
}

table {
    border: 1px solid rgba(3, 11, 24, 0.2) !important;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5) !important;
}

table,
.tab-pane {
    outline: none !important;
}

thead tr th {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px !important;
    line-height: 29px;
    color: #000000;
}

.th:nth-child(even),
.td:nth-child(even) {
    background: rgba(207, 215, 228, 0.3) !important;
}

tbody tr:nth-child(odd) {
    background: rgba(236, 239, 244, 0.6) !important;
}

td {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 28px;
    color: #000000;
}

.other-services {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 24px;
    color: #000000;
}

.last-tr {
    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }

    li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px !important;
        line-height: 28px;
        color: #000000;
    }
}

.nav-tabs-link {
    padding: 0.5rem 0 0 0 !important;
    margin: 0 1rem 0 1rem !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    color: #000000 !important;
}

.nav-tabs-link.active,
.nav-tabs-item.show .nav-tabs-link {
    outline: none !important;
    border-bottom: 2px solid rgb(3, 45, 112) !important;
    font-weight: 700 !important;
}

.dash-nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px !important;
    line-height: 29px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5) !important;
}

.dash-nav-link.active,
.dash-nav-item.show .dash-nav-link {
    outline: none !important;
    background-color: transparent !important;
    color: black !important;
}

.vl {
    border: 1px solid #000000;
    margin-top: 0.7rem;
    height: 24px;
    width: 0px !important;
}

.FAQ {
    margin-top: 120px !important;

    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px !important;
        line-height: 49px;
        color: #000000;
        margin-bottom: 24px !important;
    }

    h2 button {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20.7431px !important;
        line-height: 31px;
        text-align: center;
    }

    .accordion-body {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #0E387A;
    }

    .rounded.rounded-5 {
        border-radius: 9.87768px !important;
        overflow-x: hidden !important;
    }
}

.FAQ-footer {
    margin-top: 19.05px !important;
    margin-bottom: 65px !important;

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px !important;
        line-height: 24px !important;
        text-align: center;
        color: #000000;
        margin-bottom: 6.5px !important;
    }

    a {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 500;
        font-size: 18.8194px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #0E387A;
    }
}

.footer {
    padding-top: 2rem;

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 38px;
    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        margin-bottom: 41px;
    }

    hr {
        margin-bottom: 34px !important;
        display: inline-block;
    }

    .footer-icons {
        margin-top: 12px !important;
        margin-bottom: 54px !important;
    }

    .copyright {
        padding: 13px 0;

        p {
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: white;
        }
    }
}

.robot {
    border: 2px solid $primary  !important;
    border-radius: 0 !important;
}

.profile input {
    background-color: transparent !important;
    border: 2px solid $primary  !important;
}

//login/signup/sme data
#email-div input,
.first-name,
.last-name,
.p-number,
.email,
.phonenumber,
.amount,
#network,
#datavalue,
.sender,
.recipient,
.subject {
    border-radius: 10px !important;
}

#passwordsignup input {
    border-radius: 0 10px 10px 0 !important;
}

.input-group-text {
    border-width: 3px !important;
    border-right: 0 !important;
    border-radius: 10px 0 0 10px !important;
}

.password-input {
    border-left: 0 !important;
}


.disabledBtn {
    border: none !important;
    border-radius: 10px 10px 10px 0 !important;
}

.disabledBtn:focus,
.disabledBtn:active {
    outline: none;
    border: none;
}



@media (max-width: 1200px) {
    .feed {
        font-size: 1.7rem !important;
    }

    .dashboard-testimonial img {
        margin-left: -9rem;
    }
}

@media (max-width: 1024px) {
    .testimonial {

        .d-flex {
            background: rgba(159, 175, 202, 0.1);
        }

        .testimonial-img-div {
            height: 100%;

            img {
                width: 298px;
                height: 250.03px;
                object-fit: contain;
            }
        }

        .testimonial-text {
            h2 {
                font-size: 30px !important;
                line-height: 24px;
            }

            li {
                font-size: 18px !important;
                line-height: 24px;
            }

            /*li a {
                font-family: 'Poppins';
                font-style: italic;
                font-weight: 500;
                font-size: 15px !important;
                line-height: 24px;
                text-decoration-line: underline;
                color: #0E387A;
            }*/
        }
    }
}

@media (max-width: 991px) {
    .veepay-intro-main-div {

        .veepay-intro-div {
            margin-left: 0 !important;

            .veepay-logo-div {
                width: 100% !important;

                img {
                    width: 300px !important;
                    height: 90px !important;
                }
            }
        }

    }

    .header-img-div {
        width: 258.46px;
        height: 257px;
    }

    .header-img {
        width: 100%;
        height: 100%;
        margin: auto !important;
        object-fit: cover;
    }

    .product-head {
        h2 {
            font-size: 20px !important;
            line-height: 24px;
        }

        p {
            font-size: 15px !important;
            line-height: 24px;
        }
    }

    .first-home-card {
        height: 250px !important;

        .i-div {
            padding-top: 43px !important;
            margin-bottom: 20px !important;

            i {
                padding: 13px 15px !important;
                font-size: 16px !important;
            }
        }

        h2 {
            font-size: 18px !important;
            line-height: 15px;
        }

        .buy-button {
            font-size: 10px;
            line-height: 17px;
            padding: 1.37px 11.15px !important;
        }
    }

    .feed {
        font-size: calc(1rem + 1.5vw)
    }

    .pricing-container {
        h2 {
            font-size: 20px !important;
            line-height: 24px;
        }

        .nav-link {
            font-size: 16px !important;
            line-height: 15px;
        }
    }

    .testimonial {

        .d-flex {
            background: rgba(159, 175, 202, 0.1);
        }

        .testimonial-img-div {
            height: 100%;

            img {
                width: 298px;
                height: 250.03px;
                object-fit: contain;
            }
        }

        .testimonial-text {
            h2 {
                font-size: 20px !important;
                line-height: 24px;
            }

            li {
                font-size: 15px !important;
                line-height: 24px;
            }

            /*li a {
                font-family: 'Poppins';
                font-style: italic;
                font-weight: 500;
                font-size: 15px !important;
                line-height: 24px;
                text-decoration-line: underline;
                color: #0E387A;
            }*/
        }
    }

    thead tr th {
        font-size: 7.02167px !important;
        line-height: 9px;
    }

    td {
        font-size: 5.85139px !important;
        line-height: 8px;
    }

    .other-services {
        font-size: 6.9px !important;
        line-height: 9px;
    }

    .last-tr {
        h3 {
            font-size: 7.02167px !important;
            line-height: 9px;
        }

        li {
            font-size: 5.85139px !important;
            line-height: 8px;
        }
    }

    .nav-tabs-link {
        font-size: 20px !important;
        line-height: 24px !important;
    }

    .FAQ {
        margin-top: 120px !important;

        h3 {
            font-size: 20px !important;
            line-height: 24px;
        }

        h2 button {
            font-size: 16px !important;
            line-height: 24px;
            text-align: start;
        }

        .accordion-body {
            font-size: 14px !important;
            line-height: 16px;
        }
    }

    .FAQ-footer {

        p {
            font-size: 14px !important;
            line-height: 16px;
        }

        a {
            font-size: 12px !important;
            line-height: 16px;
        }
    }

    .footer {

        h2 {
            font-size: 16px !important;
            line-height: 29px;
        }

        p {
            font-size: 14px !important;
            padding: 0 10px !important;
            line-height: 22px;
        }

        hr {
            margin-bottom: 34px !important;
            display: inline-block;
        }

        .footer-icons {
            margin-top: 12px !important;
            margin-bottom: 54px !important;
        }

        .footer-icons img {
            width: 22px;
            height: 22px;
        }

        .copyright {
            padding: 13px 0;

            p {
                font-size: 10.8019px !important;
                line-height: 13px;
            }
        }
    }
}

@media (max-width: 920px) {

    .dashboard-testimonial {

        .testimonial-img-div {
            height: 100%;

            img {
                margin-left: -4rem;
                height: 100%;
                width: 115%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 768px) {
    .veepay-intro-main-div {

        .veepay-intro-div {

            .veepay-logo-div {

                img {
                    width: 271px !important;
                    height: 79px !important;
                }
            }

            p {
                /*font-size: 16px !important;
                line-height: 24px !important;*/
                font-size: 13px !important;
                line-height: 20px !important;
            }

            a {
                /*font-size: 15px !important;
                line-height: 24px !important;*/
                font-size: 10px !important;
                line-height: 15px !important;
            }
        }

    }

    .dash-nav-link {
        background-color: transparent !important;
        color: #495057 !important;
        margin: 0 !important;
    }

    .dash-nav-link.active,
    .dash-nav-item.show .dash-nav-link {
        outline: none !important;
        background-color: transparent !important;
        color: black !important;
        border-left: 5px solid $primary  !important;
        border-radius: 0 !important;
    }

    .dashboard-testimonial {
        img {
            margin-left: 0;
            height: 100%;
            width: 115%;
            object-fit: cover;
        }
    }

    .feed {
        font-size: 1.5rem !important;
    }

}

@media (max-width: 576px) {
    .feed {
        font-size: 1.3rem !important;
    }
}


@media (max-width: 400px) {
    .navbar-brand img {
        margin-left: -1rem;
    }

    .feed {
        font-size: 1.2rem !important;
    }
}


@import "../node_modules/bootstrap/scss/bootstrap";