:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 0.4rem;
}

/*body {
    padding: 0;
    margin: 0;
    font-family: 'sans-serif', 'montserrat';
    font-weight: 500;
}*/

body {
    height: 100%;
    margin: 0;
    background: white;
  }
  
  body:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 45%;
    background: rgb(221, 231, 248);
    transform: skew(-10deg);
    transform-origin:top;
  }

  .logins-icons{
    border: 1px solid rgba(131, 160, 188, 0.9);
    border-radius: 5px;
    padding: 0 15px;
    margin: 1rem;
  }

/*h2 {
    font-size: 2.25ren;
    font-weight: 700;
    color: darkblue;
    text-align: center;
    line-height: 1.70
}

h5 {
    font-size: 1.4ren;
    font-weight: 700;
}

.split-screen {
    display: flex;
    flex-direction: column;
}

.left,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*.left{transform: skewX(8deg)}*/


/* .right { transform: skewX(8deg
}*/

/*.left {
    background-size: cover;
    background-color: lightgrey;
    height: 200px;
}

.right {
    background-size: cover;
    background-color: white;
}

.left .copy {
    color: black;
    text-align: center;
}

.left p {
    font-weight: 400;
}

.right .copy {
    color: black;
    text-align: center;
}

.right .copy {
    margin: 1.5em 0;
    font-size: 0.875rem
}

.right .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem
}

.right form {
    width: 328px;
}

form input[type="text"],
form input[type="text"],
form input[ type="password"] {
    display: block;
    width: 60%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    padding: 0.50em;
    margin-bottom: 0rem;
    ;
    font-size: 0.875rem;
}

.input-container.password {
    position: sticky;
}

button {
    display: center;
    width: 25%;
    color: blue;
    font-weight: 600;
    padding: 0.20rem;
    font-size: 0.80rem;
    border-radius: -0.px;
}

.input-container.password i {
    position: absolute;
    top: 10px;
    left: 175px;
}

@media screen and (min-width:900px) {
    .split-screen {
        flex-direction: row;
        height: 100vh;
    }
    .left,
    .right {
        display: flex;
        width: 50%;
        height: auto;
    }
}