@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: #0E387A;
    --white: #ffff;
    --black: #000000;
    --bg: #CFD7E4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgba(14, 56, 122, 0.1) !important;
}

header {
    background-color: #ffff;
    padding-top: 7px;
}

.logo {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.home-page {
    margin-left: 3rem;
    margin-top: 40px;
    margin-bottom: 24px !important;
}

.home-page h5 {
    display: inline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #292929;
    margin-bottom: 14px !important;
}

.arrow {
    width: 14px;
    margin-right: 3px;
}

.big-heading {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 41px !important;
    color: #0E387A;
}

.cablesub {
    width: 70%;
    margin: 0 auto 3rem auto !important;
    min-height: 100vh;
    padding-top: 2rem;
}

.container-n {
    background-color: #ffff;
    padding: 66px 76px;
    border-radius: 40px 40px 40px 0;

}

#payment-item {
    margin-top: 2.3rem;
}

input, select {
    display: block;
    width: 100%;
    margin-top: 0.3rem;
    height: 50px;
    border: 3px solid rgba(115, 126, 145, 0.7);
    border-radius: 10px;
    padding: 0 1rem;
    outline: none;
    margin-top: 2.3rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

#container {
    width: 100%;
    text-align: center;
}

form button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    padding: 16px 8px !important;
    width: 50%;
    background-color: #0E387A;
    color: white;
    margin-top: 54px !important;
}

a {
    text-decoration: none;
}

.footer {
    background-color: #0E387A;
    width: 100%;
    text-align: center;
    color: #ffff;
    padding: 20px 8px;
    font-size: 14px;
}

@media (max-width: 1200px) {
    .cablesub {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .cablesub {
        width: 90%;
    }
}

@media only screen and (min-width: 310px) and (max-width:580px) {
    .cablesub {
        min-height: 100vh;
        padding-top: 0.8rem;
    }

    .container-n{
        margin-top: 1.8rem;
        padding: 3rem 2rem;
        border-radius: 20px 20px 20px 0;
    }

    #payment-item {
        margin-top: 1.5rem;
    }

    input {
        margin-top: 1.5rem;
    }

}

@media (max-width: 310px) {
    .container-n {
        padding: 3rem 1rem !important;
        border-radius: 15px 15px 15px 0;
    }
}

@media (max-width: 600px) {
    .btn {
        width: 70%;
    }
}