@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
 --blue:#0E387A;
 --white:#ffff;
 --black: #000000;
 --bg:#CFD7E4;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Montserrat' , sans-serif;
}
body{
    background-color:#CFD7E4;
}
header {
    background-color:#ffff;
    padding-top: 7px;
}
.logo{
    padding-top:0.5rem;
    padding-bottom:0.5rem
}
.home-page{
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.home-page h5{
    display: inline;
    color: #292929;
    font-size: 14px;
    font-weight: 700;
}
 
.arrow{
    width: 10px;
    margin-right: 5px;
}
.big-heading {
    text-align:center;
    color:#0E387A;
    font-weight: 700;
}
.big-heading h2{
    padding-top: 12px;
}
.cablesub{
    max-width:70%;
    margin:1rem auto;
    background-color:#CFD7E4;
    min-height: 100vh;
    padding-top: 2rem;


}
.container{
    margin-top: 3rem;
    background-color:#ffff;
    padding:4.5rem;
    border-radius: 40px 40px 40px 0;

}

#payment-item{
    margin-top: 2.3rem;
}

input{
    display: block;
    width: 100%;
    margin-top: 0.3rem;
    height: 50px;
    font-size: 18px;
    font-weight:500;
    border: 3px solid rgba(115, 126, 145, 0.7);
    border-radius: 10px;
    letter-spacing: 0.5px;
    padding: 0 1rem;
    outline: none;
    margin-top: 2.3rem;
}

.btn{
    display: block;
    width: 50%;
    border-radius: 10px 10px 10px 0px;
    border: none;
    padding: 12px 38px;
    background-color:#0E387A;
    color:#FFFFFF;
    margin:0 auto;
    margin-top: 3rem;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
}
.btn:hover {
    background-color:rgba(4, 56, 122, 0.9);
}

a{
    text-decoration: none;
}

.footer{
    background-color:#0E387A;
    width: 100%;
    text-align: center;
    color:#ffff;
    padding: 20px 8px;
    font-size:15px;
}

@media only screen and (min-width: 310px) and (max-width:580px){
    .cablesub{
        max-width:80%;
        min-height: 100vh;
        padding-top: 0.8rem;
    }
    .container{
        margin-top: 1.8rem;
        padding:1.5rem 5%;
        border-radius: 20px 20px 20px 0;
        
    
    }
    #payment-item{
        margin-top: 1.5rem;
    }
    input{
        margin-top: 1.5rem;
    }

    }
