@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: rgb(221, 231, 248);
    overflow-x: hidden;
    font-family: 'Montserrat';
}

main {
    padding-right: 4rem;
    margin-top: 6rem;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.home-page {
    margin-left: 3rem;
    margin-top: 2rem;
}

.dash-nav-link {
    font-weight: 700;
    padding-left: 80px !important;
}

.dash-nav-link.active {
    border-left: 8px solid #0E387A !important;
    border-radius: 2px !important;
    margin-left: 8px;
    padding-left: 64px !important;
}

.home-page {
    margin-left: 3rem;
    margin-bottom: 10px !important;
    margin-top: 60px !important;
}

.home-page h5 {
    display: inline;
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 20px;
    color: #292929 !important;
}

.arrow {
    width: 9.44px;
    margin-right: 3px;
}

.settings-h1 {
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 32px !important;
    line-height: 39px;
    color: #0E387A !important;
    margin-top: 57px !important;
    margin-left: 75px !important;
    margin-bottom: 47px !important;
}

.x-mark {
    font-size: 34px !important;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
}

.sidebar header {
    font-size: 22px;
    color: #0E387A;
    text-align: center;
    line-height: 60px;
    user-select: none;
    margin-top: 5px;
    width: 200px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    color: black;
    padding-left: 60px;
    box-sizing: border-box;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a {
    margin-right: 16px;
}


.logout_icon a {
    padding-left: 60px;
    position: fixed;
    bottom: 5rem;
}

.card1 {
    margin: 0 auto 70px auto;
    padding: 30px;
    justify-content: center;
    text-align: justify;
    justify-content: center;
    width: auto;
    background: white;
    margin-bottom: -50px;
}

.card2 {
    margin: 70px auto;
    padding: 30px;
    justify-content: center;
    text-align: justify;
    justify-content: center;
    width: auto;
    background: white;
    margin-bottom: -50px;
}

.card3 {
    margin: 70px auto;
    padding: 30px;
    margin-bottom: -50px;
    justify-content: center;
    text-align: justify;
    justify-content: center;
    width: auto;
    background: white;
}

.card4 {
    margin: 70px auto 4.5rem auto;
    padding: 30px;
    justify-content: center;
    text-align: justify;
    justify-content: center;
    width: auto;
    background: white;
}

.container-new {
    align-items: center;
}

.container-new h5,
h6 {
    color: #0E387A;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 22px;
}

.container-new h5.first-card-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 29px !important;
}

.container-new h6.card-subtitle b {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 22px !important;
}

.container-new p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 22px !important;
    color: #000000 !important;
}

.header {
    background: white;
    width: 100%;
    height: 40px;
    position: fixed;
    padding-top: 5px;
    top: 0;
    right: 0;
    bottom: 0;
}

.logo {
    position: static;
}

.settings input[type=text],
.settings input[type=email],
.settings input[type=tel] {
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    outline: none !important;
    border: 0.567308px solid rgba(0, 0, 0, 0.8) !important;
    border-radius: 5.67308px !important;
}

.profile-buttons {
    padding: 7.03636px 25.8px !important;
    gap: 4.69px;
    background: #0E387A;
    border-radius: 3.75273px !important;
    font-family: 'Poppins' !important;
    font-style: italic;
    font-weight: 500;
    font-size: 14.52px !important;
    line-height: 20px;
}

.bank-details {
    font-family: 'Montserrat';
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px;
    color: #292929 !important;
}

.account-balance {
    font-family: 'Montserrat';
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 29px;
    color: #0E387A;
}

.funds-button {
    padding: 7.03636px 25.8px !important;
    gap: 4.69px !important;
    background: #0E387A;
    border-radius: 3.75273px !important;
    font-family: 'Poppins' !important;
    color: white !important;
    font-style: italic;
    font-weight: 500 !important;
    font-size: 14.52px !important;
    line-height: 20px;
}

label {
    font-size: 14px;
    font-weight: 600;
}

#checkbox {
    display: inline;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: transparent;
    margin-top: 0.7rem;
}

#message {
    display: block;
    resize: none;
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5px;
    margin-top: 0.2rem;
    padding: 1rem;
    outline: none;
}

.btnh {
    display: block;
    background-color: #0E387A;
    padding: 12px 12%;
    width: 70%;
    border: none;
    color: #ffff;
    border-radius: 3px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}

.btnh:hover {
    background-color: rgba(4, 56, 122, 0.9);
}

.accordion {
    width: auto;
    margin-top: 2rem;
}

#faq-tab-pane .accordion-header .accordion-button {
    font-family: 'Poppins' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 18.8068px !important;
    line-height: 30px !important;
    color: #0E387A !important;
    padding-top: 23px !important;
    padding-bottom: 23px !important;
}

#faq-tab-pane .accordion-body.lead {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16.1924px !important;
    line-height: 24px !important;
    color: #0E387A !important;
    padding-top: 0 !important;
}

.profile {
    width: auto !important;
}

.profile1 {
    background-color: white;
    padding: 48px !important;
    padding-left: 48px !important;
}

.profile1 .user-info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px !important;
    line-height: 29px;
    color: #0E387A;
    margin-top: 30px !important;
    margin-bottom: 15px !important;
}

#contact-tab-pane .form h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 32px !important;
    line-height: 62px !important;
    color: #0E387A !important;
}

#contact-tab-pane .form input {
    border: none !important;
}

#contact-tab-pane .form textarea {
    height: 11rem !important;
}

#contact-tab-pane .form label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 21px !important;
    color: #000000;
}

#contact-tab-pane .form .form-check-input {
    border: 1px solid #0E387A !important;
    box-shadow: none !important;
}

#contact-tab-pane .form .form-check-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #000000;
}

.logout-anchor img {
    margin-right: 6.21px !important;
}

.logout-anchor p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 20px;
    color: #292929 !important;
}

.footer {
    padding: 0 !important;
}

.footer .copyright {
    padding: 13px 0;
}

.footer .copyright p {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: white;
    margin: auto !important;
}



@media (max-width: 991px) {
    main {
        padding-right: 25px !important;
        padding-left: 25px !important;
    }

    .dash-nav-link {
        font-size: 18.816px !important;
        line-height: 23px !important;
    }

    .dash-nav-link.active {
        border-left: 5px solid #0E387A !important;
        border-radius: 2px !important;
        margin-left: 0 !important;
        padding-left: 74px !important;
    }

    .home-page {
        margin-top: 0 !important;
    }

    .home-page h5 {
        display: inline;
        font-family: 'Montserrat' !important;
        font-style: normal;
        font-weight: 500;
        font-size: 11px !important;
        line-height: 12px;
        color: #292929 !important;
    }

    .arrow {
        width: 9.44px;
        margin-right: 3px;
    }

    .settings-h1 {
        font-size: 25.088px !important;
        line-height: 31px;
    }

    .profile1 {
        background-color: white;
        padding: 17px !important;
    }

    .container-new {
        padding: 0 !important;
    }

    .container-new .about-us-title,
    #faq-tab-pane .faq-title {
        margin-top: 10px !important;
        margin-bottom: 30px !important;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18.816px !important;
        line-height: 23px;
        text-align: center;
        color: #000000;
    }

    .container-new h5,
    h6 {
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 17px !important;
    }

    .container-new p {
        font-size: 15px !important;
        line-height: 15px;
    }

    #faq-tab-pane .accordion {
        padding: 0 !important;
        margin-top: 0 !important;
        padding-bottom: 6rem !important;
    }

    #faq-tab-pane .accordion-header .accordion-button {
        font-size: 16px !important;
        line-height: 15px;
        padding-top: 10.43px !important;
        padding-bottom: 10.43px !important;
    }

    #faq-tab-pane .accordion-body.lead {
        font-size: 14.9px !important;
        line-height: 24px !important;
    }

    #contact-tab-pane .form h1 {
        font-size: 22.5568px !important;
        line-height: 44px !important;
    }

    #contact-tab-pane .form label {
        font-size: 17.4755px !important;
        line-height: 32px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 567px) {
    main {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}