:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 0.4rem;
}

body {
    height: 100%;
    margin: 0;
    background: white;
  }
  
  body:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 45%;
    background: rgb(221, 231, 248);
    transform: skew(10deg);
    transform-origin:top;
  }

  .logins-icons{
    border: 1px solid rgba(131, 160, 188, 0.9);
    border-radius: 5px;
    padding: 0 15px;
    margin: 0.1rem 1rem;
  }

  #error {
    display: none;
    position: fixed;
    top: 2rem;
    background-color: rgb(247, 234, 234);
    border: 3px solid #dc3545;
    width: 25%;
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
  }