@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background: rgba(14, 56, 122, 0.1) !important;
    width: 100%;
}

html {
    height: 100%;
}

.head {
    background: white;
    width: 100%;
    height: 40px;
    padding: 10px 20px 0px 20px;
    top: 0;
    right: 0;
    bottom: 0;
}

a {
    text-decoration: none;
}

.home-page {
    margin-left: 3rem;
    margin-top: 40px;
    margin-bottom: 24px !important;
}

.home-page h5 {
    display: inline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #292929;
    margin-bottom: 14px !important;
}

.arrow {
    width: 14px;
    margin-right: 3px;
}

.head img {
    margin-left: 2rem;
}

main {
    padding: 1.5rem 0 0 0;
}

main h2 b {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #0E387A;
}

.logo {
    margin-left: 1.5rem;
}

.container-form {
    background-color: white;
    width: 70%;
    margin: 0 auto 71px auto !important;
    padding: 66px 76px;
    border-radius: 40px 40px 40px 0px;
    margin-top: 0;
}

.input-group {
    width: 100%;
}

form {
    width: 100%;
}

label {
    display: block;
    text-align: start;
    width: 100%;
    margin-bottom: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

select,
input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

form button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    padding: 16px 8px !important;
    width: 50%;
    background-color: #0E387A;
    color: white;
    margin-top: 54px !important;
}

h2 {
    color: #0E387A;
    text-align: center;
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
    resize: none;
    border: 3px solid rgba(115, 126, 145, 0.7);
    border-radius: 10px;
    outline: none;
    padding: 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

#container {
    width: 100%;
    text-align: center;
}

.sell-to-us h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #0C2F66;
    margin-bottom: 42px !important;
}

.sell-to-us p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #0E387A;
    margin-bottom: 61px;
}

.sell-to-us .btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.container-form .invalid-feedback {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #0E387A;
}

.footer {
    padding: 0 !important;
}

.footer .copyright {
    padding: 13px 0;
}

.footer .copyright p {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: white;
    margin: auto !important;
}

@media (max-width: 1200px) {
    .container-form {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .container-form {
        width: 90%;
    }
}

@media screen and (min-width: 980px) {
    .wrapper {
        width: 1000px;
    }
}

@media (max-width: 580px) {
    .container-form {
        padding: 3rem 2rem !important;
    }
}

@media (max-width: 310px) {
    .container-form {
        padding: 3rem 1rem !important;
        border-radius: 15px 15px 15px 0;
    }
}